<div class="portal">
  <aside class="sidebar">
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Dashboard</a>
    <a routerLink="/admin/users" routerLinkActive="active">Users</a>
    <a routerLink="/admin/billing" routerLinkActive="active">Billing</a>
    <a routerLink="/admin/meters" routerLinkActive="active">Meters</a>
    <a routerLink="/admin/rate-plans" routerLinkActive="active">Rate Plans</a>
    <a routerLink="/admin/outages" routerLinkActive="active">Outages</a>
  </aside>
  <section class="account-content">
    <router-outlet />
  </section>
</div>
